Django==6.0.3
asgiref==3.11.1
dj-database-url==3.1.2
django-jazzmin==3.0.1
whitenoise==6.12.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
arabic-reshaper==3.0.0
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.6
cssselect2==0.9.0
pypdf==6.9.23
python-bidi==0.6.7
PyYAML==6.0.2
reportlab==4.4.1
requests==2.33.0
rlPyCairo==0.4.0
six==1.17.0
sqlparse==0.5.5
svglib==1.6.0
tinycss2==1.5.1
tzdata==2025.3
tzlocal==5.3.1
uritools==6.0.1
urllib3==2.6.3
webencodings==0.5.1
xhtml2pdf==0.2.17
